body {
	font-family: 'Comfortaa', cursive;
}

.box {
	border: 3px solid rgb(140, 255, 198);
  	margin: 10px;
  	background: rgba(36, 36, 48, 0.80);
  	color: white;
}


.title {
	  padding-bottom: 20px;
	  font-size: 20px;
	  font-weight: bold;
	  letter-spacing: 1px;
}

.input-title {
  padding-bottom: 20px;
  letter-spacing: 1px;
}


.box.details {
  width: 300px;
  height: 200px;
  text-align: center;
  padding: 20px 20px 80px 20px;
  margin: auto;
  float: left;
  margin-bottom: 20px;
}


input#submit {
	margin: 15px 10px 0 0;
}


.reset-area {
	text-align: center;
  margin: auto;
}


.subbox {
	width: 250px;
	height: 180px;
	text-align: center;
	padding: 20px;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
  margin-left: 22px;
	border: 3px solid rgb(140, 255, 198);
	background: rgba(36, 36, 48, 0.80);
	color: white;
}

.subbox .charges {
	margin-right: 30px;
}


.column-wrap {
  	margin: auto;
  	width: 346px;
  	height: 458px;
    margin-top: 50px;
}


input {
	margin-left: 10px;
}


input[type="submit"], input[type="button"] {
	margin: 15px 10px 0 0;
  	padding: 8px 14px;
}

input[id="reset"], input[type="submit"], input[type="button"] {
	background: white;
	color: black;
	border: 2px solid rgb(140, 255, 198);
}



input[id="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover {
	background: rgb(140, 255, 198);
	color: black;
}


.wrapper {
	width: 676px;
  margin: auto;
	height: 90%;
	margin-top: 5%;
	margin-bottom: 5%;
  text-align: Center;
}


.wrapper > a {
  text-decoration: none;
  color: rgb(211, 211, 211);
  padding: 10px;
  letter-spacing: 1px;
}

.wrapper > a:hover {
  color: rgb(121, 232, 177);
}

/*extra styles*/
h1 {
  text-align: center;
}